<!DOCTYPE html>
<html ng-app="App">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-theme.css">
  <script src="js/angular.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <title>Teste</title>
</head>
<body>
  <div class="container">
  <div id="bb"></div>
  <h2>Image</h2>
  <img class="img-responsive" src="http://lulaeministro.com/assets/images/lula-nao.jpg" alt="Não"> 
</div>
  <div ng-controller="AppCtrl">
    <h1>{{val}}</h1>
    <h1>{{informacao}}</h1>
    <ul>
      <li ng-repeat="person in data">Nome: <span>{{person.fname}}</span> , <span>{{person.lname}}</span></li>
    </ul>
</div>
<script>
var App = angular.module('App',[])
          .controller('AppCtrl', function($scope, AppFact) {
            $scope.val = "Testing the Page For CallsBacks";
            AppFact.getData(function(data) {
              $scope.data = data;
              $.get("http://prototipo.sitedomagno.com.br/workspace/lulaministro/b.html", function(informacao) {
                $("#bb").html("<div id='location'>xxx <strong>"+informacao+"</strong>!</div>");
                $scope.informacao = informacao;
              });
            });
          })
;
</script>

<div ng-app="myApp" ng-controller="customersCtrl">
 
<table>
  <tr ng-repeat="x in names">
    <td>{{ x.Name }}</td>
    <td>{{ x.Country }}</td>
  </tr>
</table>
 
</div>
  
<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
   $http.get("http://www.w3schools.com/angular/customers_mysql.php")
   .then(function (response) {$scope.names = response.data.records;});
});
</script>

</body>
</html>
